# ==========================================
# noKeyCloud Configuration
# ==========================================

# 1. Network & Domain
# For local network testing, leave as 'localhost'.
# For public servers, enter your domain (e.g., cloud.mywebsite.com) to get automatic Let's Encrypt SSL.
DOMAIN_NAME=localhost

# 2. Security (CRITICAL)
# The length of a JWT secret key directly impacts security; longer keys provide increased complexity, making them harder to crack. 
# It's generally recommended to use keys that are between 64 to 128 characters long for a good balance of security and performance
# Example: openssl rand -base64 128
JWT_SECRET=CHANGE_ME_TO_A_VERY_LONG_SECURE_RANDOM_STRING

# 3. Database Credentials
POSTGRES_USER=nokeycloud_user
POSTGRES_PASSWORD=nokeycloud_super_secret_password
POSTGRES_DB=nokeycloud_db